.special-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  padding: 20px 20px 0;
  border-radius: 16px;
  background: #F4F6FA;
}

.special-card__heading {
  margin: 0;
  color: #1E222E;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.special-card--blue {
  background-color:#5E81FF;
  color: #FFFFFF;
  height: 100%;
}

.special-card--blue .special-card__heading {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 28px;
}

.special-card--blue .special-card__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}